{# templates/security/forgot_password_request.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <section id="form">
        <div class="form">
            <div class="form-content">
                <div class="mix">
                    <div class="headline">
                        <h3 class="text-headline">Mot de passe oublié</h3>
                    </div>
                </div>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(requestForm, { attr: { class: 'all-form', id: 'forgot-password-form' } }) }}

                <div class="spliter">
                    <div class="left">
                         <span class="form-group">
                             {{ form_label(requestForm.email) }}
                             {{ form_widget(requestForm.email, { attr: { id: 'forgot_email' } }) }}
                             {{ form_errors(requestForm.email) }}

                            <div id="forgot_email-error" class="form-error" style="visibility:hidden;">&nbsp;</div>
                        </span>
                    </div>
                </div>

                <p style="text-align:center; font-size: 0.85rem; margin-bottom: 1.5rem;">
                    Indique l’adresse email associée à ton compte.
                    Si elle existe dans notre base, tu recevras un lien pour réinitialiser ton mot de passe.
                </p>

                <input class="btn btn-lg btn-primary" type="submit" value="Envoyer le lien de réinitialisation">

                {{ form_end(requestForm) }}
            </div>
        </div>
    </section>
{% endblock %}
