{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="form">
        <div class="warming">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    <span>Vous êtes connecté en tant que {{ app.user.userIdentifier }}</span>
                    <a href="{{ path('app_logout') }}" class="btn btn-warming">Se déconnecter</a>
                </div>
            {% endif %}
        </div>
        <form method="post" class="form">
            <div class="form-content">
                <div class="mix">
                    <div class="headline">
                        <h3 class="text-headline">connexion</h3>
                    </div>
                </div>
                <div class="all-form">
                    <span class="form-group">
                        <label for="username">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    </span>
                    <span class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                    </span>
                    <span class="form-group switch-group mb-3">
                        <label for="_remember_me" class="switch-label">
                            <span class="switch-text">Se souvenir de moi</span>
                            <input type="checkbox" name="_remember_me" id="_remember_me" class="switch-input">
                            <span class="switch-slider"></span>
                        </label>
                    </span>


                    <input class="btn btn-lg btn-primary" type="submit" value="Validez">
                </div>
            </div>
        </form>
    </div>
{% endblock %}