{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <section id="form">
        <div class="form">
            <div class="form-content">
                <div class="mix">
                    <div class="headline">
                        <h2 class="text-headline">{{ site.name }}</h2>
                        <h3 class="text-subheadline">Nouveau mot de passe</h3>
                    </div>
                </div>

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}

                {{ form_start(resetForm, { attr: { class: 'all-form', id: 'reset-password-form' } }) }}

                <div class="spliter">
                    <div class="left">
                        <span class="form-group">
                            {{ form_label(resetForm.plainPassword.first) }}
                            {{ form_widget(resetForm.plainPassword.first, { attr: { id: 'password' } }) }}
                            {{ form_errors(resetForm.plainPassword.first) }}

                            <div id="password-error" class="form-error" style="display:none;"></div>
                        </span>

                        <span class="form-group">
                            {{ form_label(resetForm.plainPassword.second) }}
                            {{ form_widget(resetForm.plainPassword.second, { attr: { id: 'password_confirm' } }) }}
                            {{ form_errors(resetForm.plainPassword.second) }}

                            <div id="password-confirm-error" class="form-error" style="display:none;"></div>
                        </span>

                        <input class="btn btn-lg btn-primary" type="submit" value="Valider le nouveau mot de passe">
                    </div>
                </div>

                {{ form_end(resetForm) }}
            </div>
        </div>
    </section>
{% endblock %}
