{% extends 'base.html.twig' %}

{% block title %}{{ 'home'|trans }}{% endblock %}

{% block body %}
    <div id="home" class="container margin-navbar">
        <div class="home">
            {% include 'partials/_search.html.twig' %}
{#            <div class="filter-header">#}
{#                {{ form_start(filterForm, {#}
{#                    method: 'GET',#}
{#                    action: path('home'),#}
{#                    attr: {#}
{#                        'hx-get': path('home'),#}
{#                        'hx-target': '#orders-wrapper',#}
{#                        'hx-indicator': '#orders-loading',#}
{#                        'hx-trigger': 'change, keyup delay:500ms'#}
{#                    }#}
{#                }) }}#}
{#                <div class="filters-row">#}
{#                    <div class="filter-group">#}
{#                        {{ form_widget(filterForm.sort) }}#}
{#                    </div>#}
{#                    <div class="filter-group po-section">#}
{#                        <div class="number-line">#}
{#                            {{ form_label(filterForm.minPrice, null, {#}
{#                                label_attr: { class: 'number-line__label' }#}
{#                            }) }}#}

{#                            <div class="number-line__field">#}
{#                                {{ form_widget(filterForm.minPrice, {#}
{#                                    attr: { class: 'number-line__input' }#}
{#                                }) }}#}
{#                                <div class="number-line__arrows">#}
{#                                    <span class="up"><i class="fa-solid fa-caret-up"></i></span>#}
{#                                    <span class="down"><i class="fa-solid fa-caret-down"></i></span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="filter-group po-section">#}
{#                        <div class="number-line">#}
{#                            {{ form_label(filterForm.maxPrice, null, {#}
{#                                label_attr: { class: 'number-line__label' }#}
{#                            }) }}#}

{#                            <div class="number-line__field">#}
{#                                {{ form_widget(filterForm.maxPrice, {#}
{#                                    attr: { class: 'number-line__input' }#}
{#                                }) }}#}
{#                                <div class="number-line__arrows">#}
{#                                    <span class="up"><i class="fa-solid fa-caret-up"></i></span>#}
{#                                    <span class="down"><i class="fa-solid fa-caret-down"></i></span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="filter-group">#}
{#                        {{ form_widget(filterForm.status) }}#}
{#                    </div>#}
{#                </div>#}
{#                {{ form_end(filterForm) }}#}
{#            </div>#}
            <div id="orders-loading" class="htmx-indicator">
                Loading...
            </div>
            <div id="orders-wrapper">
                {% include 'home/_orders_list.html.twig' with {
                    sellOrders: sellOrders,
                    buyOrders:  buyOrders
                } %}
            </div>
        </div>
    </div>
{% endblock %}
