{% if app.user %}
    <button id="place-order-toggle" class="place-order-button">
        <span class="place-order-icon"><i class="fa-solid fa-plus"></i></span>
        <span class="place-order-text">{{ 'place-order'|trans }}</span>
    </button>

    <div id="place-order-overlay" class="place-order-overlay"></div>

    <aside id="place-order-panel" class="place-order-panel">
        <div class="place-order-header">
            <h2>{{ "place-order"|trans }}</h2>
            <button type="button" id="place-order-close" class="place-order-close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        {% if formOrder is defined and formOrder is not null %}
            {{ form_start(formOrder, { action: path('shop_place_order'), method: 'POST', attr: { id: 'place-order-form' }}) }}
                <div class="place-order-body">
                    <div class="po-item">
                        <div class="po-item-image">
                            <img src="" alt="">
                        </div>
                        <div class="po-section">
                            <div class="search-input-wrapper">
                                <input
                                        id="place-order-search-input"
                                        type="search"
                                        placeholder="{{ 'holder'|trans }}"
                                        autocomplete="off"
                                />
                                <button id="place-order-search-clear" type="button" class="search-clear" aria-label="{{ "arial-delete"|trans }}">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="uniqueName" id="po-item-uniqueName">

                    <div class="po-section">
                        <div class="number-line">
                            {{ form_label(formOrder.stocks, null, {
                                label_attr: { class: 'number-line__label' }
                            }) }}

                            <div class="number-line__field">
                                {{ form_widget(formOrder.stocks, {
                                    attr: { class: 'number-line__input' }
                                }) }}
                                <div class="number-line__arrows">
                                    <span class="up"><i class="fa-solid fa-caret-up"></i></span>
                                    <span class="down"><i class="fa-solid fa-caret-down"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="po-section">
                        <div class="number-line">
                            {{ form_label(formOrder.price, null, {
                                label_attr: { class: 'number-line__label' }
                            }) }}

                            <div class="number-line__field">
                                {{ form_widget(formOrder.price, {
                                    attr: { class: 'number-line__input' }
                                }) }}
                                <div class="number-line__arrows">
                                    <span class="up"><i class="fa-solid fa-caret-up"></i></span>
                                    <span class="down"><i class="fa-solid fa-caret-down"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="po-section po-rank-section">
                        <div class="number-line">
                            {{ form_label(formOrder.rank, null, {
                                label_attr: { class: 'number-line__label' }
                            }) }}

                            <div class="number-line__field">
                                {{ form_widget(formOrder.rank, {
                                    attr: { class: 'number-line__input',
                                        type: 'number',
                                        min: 0,
                                        max: 10 }
                                }) }}
                                <div class="number-line__arrows">
                                    <span class="up"><i class="fa-solid fa-caret-up"></i></span>
                                    <span class="down"><i class="fa-solid fa-caret-down"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="po-section">
                        {{ form_label(formOrder.sellOrBuy) }}
                        <div class="select-wrapper">
                            {{ form_widget(formOrder.sellOrBuy, {'attr': {'id': 'po-status'}}) }}
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </div>

                    <div class="po-section">
                        {{ form_label(formOrder.initialVisibility) }}
                        <div class="select-wrapper">
                            {{ form_widget(formOrder.initialVisibility, {'attr': {'id': 'po-visibility'}}) }}
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </div>

                    <div class="po-actions">
                        <input type="submit" class="po-btn po-btn-sell" value="{{ "validate"|trans }}">
                    </div>
                </div>
            {{ form_end(formOrder) }}
        {% else %}
            {{ "form.nothing"|trans }}
        {% endif %}
    </aside>
{% endif %}