{% if results is empty %}
    <div class="empty">Aucun résultat trouvé pour votre recherche.</div>
{% else %}
    <ul class="results-list">
        {% for item in results %}
            {% set slug = item.forPath ?? '#' %}
            <li class="results-content btn-menu"
                data-item-name="{{ item.name }}"
                data-item-unique="{{ item.uniqueName }}"
                data-item-category="{{ item.category }}"
                data-fusion-limit="{{ item.fusionLimit }}"
                data-item-image-name="{{ asset('assets/images/uploads/api/' ~ item.imageName) }}">
                <a href="{{ path('item_show',{'name' : slug, '_locale': app.request.locale}) }}">
                    <span class="result-title">{{ item.name }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}