{% extends 'base.html.twig' %}

{% block title %}Support - Contactez-nous{% endblock %}

{% block body %}
    <section class="container" id="support">
        <div class="support">
            <h1 class="golden-twilight">Contactez le support</h1>

            <p>Vous pouvez utiliser ce formulaire pour nous envoyer un message.</p>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="support-form-container">
                {{ form_start(supportForm) }}

                <div class="form-group">
                    {{ form_label(supportForm.name) }}
                    {{ form_widget(supportForm.name) }}
                    {{ form_errors(supportForm.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(supportForm.email) }}
                    {{ form_widget(supportForm.email) }}
                    {{ form_errors(supportForm.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(supportForm.category) }}
                    {{ form_widget(supportForm.category) }}
                    {{ form_errors(supportForm.category) }}
                </div>

                <div class="form-group">
                    {{ form_label(supportForm.message) }}
                    {{ form_widget(supportForm.message) }}
                    {{ form_errors(supportForm.message) }}
                </div>

                <button class="btn-menu">Envoyer</button>

                {{ form_end(supportForm) }}
            </div>
        </div>
    </section>
{% endblock %}