<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ site.name }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon/favicon-96x96.png') }}" sizes="96x96" />
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    {% set currentTheme = app.session.get('theme', 'cetus') %}
    <body class="theme-{{ currentTheme }}">
        {% set current = app.request.attributes.get('_route') %}

        {% include "layout/_header.html.twig" %}
        <main class="container margin-navbar" id="main">
            {{ render(path('place_order_panel', { '_locale': app.request.locale })) }}
            {% block body %}{% endblock %}
        </main>
        {% include "layout/_footer.html.twig" %}
    </body>
</html>

<script>
    window.appTranslations = {
        email_required: '{{ 'form.error.error_email_required'|trans|e('js') }}',
        email_invalid: '{{ 'form.error.error_email'|trans|e('js') }}',

        pseudo_required: '{{ 'form.error.pseudo_required'|trans|e('js') }}',
        pseudo_min_3: '{{ 'form.error.pseudo_min'|trans({'{{ limit }}': 3})|e('js') }}',

        password_required: '{{ 'form.error.password_required'|trans|e('js') }}',
        password_confirm_required: '{{ 'form.error.password_confirm_required'|trans|e('js') }}',
        password_mismatch: '{{ 'form.error.error_mismatch'|trans|e('js') }}',
        password_length_8: '{{ 'form.error.error_password_length'|trans({'{{ limit }}': 8})|e('js') }}',
        password_upper: '{{ 'form.error.error_upper'|trans|e('js') }}',
        password_number: '{{ 'form.error.error_number'|trans|e('js') }}',
        password_special: '{{ 'form.error.error_special'|trans|e('js') }}',

        support_category_required: '{{ 'form.error.support_category_required'|trans|e('js') }}',
        support_message_required: '{{ 'form.error.support_message_required'|trans|e('js') }}',
        support_message_min_10: '{{ 'form.error.support_message_min'|trans({'{{ limit }}': 10})|e('js') }}',
        image_type: '{{ 'form.error.image_type'|trans|e('js') }}',
        image_size: '{{ 'form.error.image_size'|trans|e('js') }}',
    };
</script>