{% set currentLocale = app.request.locale ?? app.request.attributes.get('_locale') ?? 'fr' %}
{% set currentLangLabel = currentLocale == 'en' ? 'ENGLISH' : 'FRANÇAIS' %}
{% set currentTheme = app.session.get('theme', 'cetus') %}
{% set currentThemeLabel = currentTheme == 'deimos' ? 'DEIMOS' : 'CETUS' %}


<footer class="container" id="footer">
    <div class="footer">
        <div class="footer-content">
            <div class="footer-propo">
                <h4 class="golden-twilight">{{ 'about'|trans }}</h4>
                <ul>
                    <li class="btn-menu"><a href="{{ path('mentions_legales') }}">{{ 'legal_notice'|trans }}</a></li>
                    <li class="btn-menu"><a href="{{ path('confidentialite') }}">{{ 'privacy_policy'|trans }}</a></li>
                    <li class="btn-menu"><a href="{{ path('cgu') }}">{{ 'terms_of_use'|trans }}</a></li>
                </ul>
            </div>
            <div class="footer-language_theme_copyright">
                <h4 class="golden-twilight">{{ 'language_theme'|trans }}</h4>
                <div class="footer-language_theme">
                    <div class="footer-language">
                        <ul class="btn-menu-dropdown language-dropdown-toggle" data-dropdown-target="#language-dropdown">
                            <li>{{ currentLangLabel }}</li>
                            <li><i class="fa-solid fa-caret-down"></i></li>
                        </ul>
                        <div class="dropdown-language">
                            <ul id="language-dropdown" class="dropdown-language-list">
                                <li class="btn-menu {% if currentLocale == 'fr' %}active{% endif %}">
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                        FRANÇAIS
                                    </a>
                                </li>
                                <li class="btn-menu {% if currentLocale == 'en' %}active{% endif %}">
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">
                                        ENGLISH
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-theme">
                        <ul class="btn-menu-dropdown theme-dropdown-toggle" data-dropdown-target="#theme-dropdown">
                            <li>{{ currentThemeLabel }}</li>
                            <li><i class="fa-solid fa-caret-down"></i></li>
                        </ul>
                        <div class="dropdown-theme">
                            <ul id="theme-dropdown" class="dropdown-theme-list">
                                <li class="btn-menu {% if currentTheme == 'cetus' %}active{% endif %}">
                                    <a href="{{ path('switch_theme', {'theme': 'cetus'}) }}">CETUS</a>
                                </li>
                                <li class="btn-menu {% if currentTheme == 'deimos' %}active{% endif %}">
                                    <a href="{{ path('switch_theme', {'theme': 'deimos'}) }}">DEIMOS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <p class="golden-twilight">COPYRIGHT &copy - 2025</p>
                    <p class="golden-twilight">{{ site.name }}</p>
                    <p class="golden-twilight">{{ 'all-right'|trans }}</p>
                </div>
            </div>
            <div class="footer-link">
                <h4 class="golden-twilight">{{ 'links'|trans }}</h4>
                <ul>
                    <li class="btn-menu"><a href="https://docs.warframestat.us/#tag/Warframe" target="_blank">{{ 'api'|trans }}</a></li>
                    <li class="btn-menu"><a href="{{ path('support') }}">{{ 'call'|trans }}</a></li>
                    <li class="btn-menu"><a href="{{ path('faq') }}">F.A.Q</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-disclaimer">
            <h4 class="golden-twilight">{{ 'disclaimer'|trans }}</h4>
            <p>{{ 'disclaimer-text'|trans }}</p>
        </div>
        <div class="logo-footer-container">
            <a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo/bazar.png') }}" alt="{{ site.name }}"></a>
        </div>
    </div>
</footer>