<footer class="container" id="footer">
    <div class="footer">
        <div class="footer-content">
            <div class="footer-propo">
                <h4 class="golden-twilight">À PROPOS</h4>
                <ul>
                    <li class="btn-test"><a href="{{ path('mentions_legales') }}">MENTIONS LÉGALES</a></li>
                    <li class="btn-test"><a href="{{ path('confidentialite') }}">POLITIQUE DE CONFIDENTIALITÉ</a></li>
                    <li class="btn-test"><a href="{{ path('cgu') }}">CONDITIONS GÉNÉRALES D'UTILISATION</a></li>
                </ul>
            </div>
            <div class="footer-language_theme_copyright">
                <h4 class="golden-twilight">CHANGER DE LANGUE / THEME</h4>
                <div class="footer-language_theme">
                    <div class="footer-language">
                        <ul class="btn-test-dropdown">
                            <li>FRANÇAIS</li>
                            <li><i class="fa-solid fa-caret-down"></i></li>
                        </ul>
                    </div>
                    <div class="footer-theme">
                        <ul class="btn-test-dropdown">
                            <li>CETUS</li>
                            <li><i class="fa-solid fa-caret-down"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-copyright">
                    <p class="golden-twilight">COPYRIGHT &copy - 2025</p>
                    <p class="golden-twilight">{{ site.name }}</p>
                    <p class="golden-twilight">TOUS DROITS RÉSERVÉS</p>
                </div>
            </div>
            <div class="footer-link">
                <h4 class="golden-twilight">LIENS</h4>
                <ul>
                    <li class="btn-test"><a href="{{ path('mentions_legales') }}">DOCUMENTATION DE L'API</a></li>
                    <li class="btn-test"><a href="{{ path('confidentialite') }}">CONTACTEZ-NOUS</a></li>
                    <li class="btn-test"><a href="{{ path('cgu') }}">F.A.Q</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-disclaimer">
            <h4 class="golden-twilight">AVERTISSEMENT</h4>
            <p>Digital Extremes Ltd, Warframe et le logo Warframe sont des marques déposées. Tous droits réservés. Ce site n'a aucun lien officiel avec Digital Extremes Ltd ou Warframe. L'ensemble des illustrations, captures d'écran, personnages et autres éléments reconnaissables de la propriété intellectuelle liés à ces marques sont également la propriété intellectuelle de Digital Extremes Ltd.</p>
        </div>
        <div class="logo-footer-container">
            <a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo/bazar.png') }}" alt="{{ site.name }}"></a>
        </div>
    </div>
</footer>